body {
    background-color: #ececec;
    color: #3d3d3d;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    margin: 0;
    margin-bottom: 2em;
}

h1 {
    color: #225;
    font-size: 2.75rem;
    margin: 2.75rem 0;
    font-weight: 500;
    text-align: center;
}

h3 {
    font-weight: 400;
}

#about, #experience, #skills, #projects, #contact, #messages {
    margin: 0 auto 3em;
    width: 50%;
    max-width: 750px;
    scroll-margin-top: 5em;
}

#messages {
    display: none;
}

.navIcon {
    display: none;
}

.list {
    padding-left: 1.7em;
    display: flex;
    flex-direction: column;
}

.list-item {
    padding-left: .7em;
    margin-bottom: .7em;
    list-style-type: circle;
    list-style-position: outside;
}

h2 {
    font-weight: 600;
    font-size: 1.75rem;
    color: #3d3d3d;
    display: inline;
    padding-right: .5em;
}

/* Connect section */

#connect {
    border-top: 5px dotted #e3e3e3;
    padding-top: 2em;
}

#connect h2 {
    display: block;
    text-align: center;
    margin: 0;
}

.mylinks p {
    width: 100%;
    text-align: center;
}

.linkImgs {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 120px;
    margin: 0 auto;
}

#connect img {
    width: 50px;
    height: 50px;
}

a {
    color: #1d7388;
    text-decoration: none;
}

/* Nav */

nav {
    display: flex;
    border-bottom: 1px #b1b1b1 solid;
    justify-content: center;
    position: sticky;
    top: 0;
    background: #ececec;
}

nav > a {
    text-align: center;
    padding: 1.2em 2em;
}

/* Experience Grid */

.expItem {
    margin-top: 1.2em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.title {
    justify-self: flex-start;
    font-weight: 600;
    grid-column: span 3;
    font-size: 1.125rem;
}

.timeframe {
    justify-self: flex-end;
    font-style: italic;
    grid-column: span 1;
    font-size: 1rem;
}

.description {
    grid-column: span 4;
}

form {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
}

label {
    margin-bottom: .25em;
}

input, textarea {
    border: 1px solid #b1b1b1;
    border-radius: 5px;
    padding: .5em;
    margin-bottom: .5em;
}

input:focus, textarea:focus {
    outline: 2px solid #279cb9;
;
}

form > button {
    margin-top: 1em;
    padding: .75em 0;
    width: 8em;
    align-self: flex-end;
}

/* Messages */
.msgList {
    padding: 0;
}

.msg {
    padding-left: 0;
    margin-bottom: 1em;
    list-style-type: none;
}

@media (max-width: 800px) {
    h1 {
        font-size: 2.75rem;
        margin: 1.5rem 0;
    }

    #about, #experience, #skills, #projects, #contact, #messages {
        margin: 0 1em 2em;
        width: 90%;
    }

    .list {
        padding-left: 1em;
    }

    .list-item {
        padding-left: .25em;
    }

    .title {
        grid-column: span 4;
    }

    .timeframe {
        grid-column: span 4;
        justify-self: flex-start;
        margin-top: .25em;
    }

    nav {
        flex-direction: column;
        align-items: start;
        /* justify-content: end; */
        padding-left: 2em;
    }

    nav > a {
        text-align: center;
        padding: 1.2em .25em;
    }

    .navLink {
        display: none;
    }

    .navIcon {
        display: block;
    }

    .showLink {
        display: block;
    }
    
}